<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>Monama Vincent</title>
    <script
      src="https://kit.fontawesome.com/afd7d19a62.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <nav class="navigation">
      <a id="logo" href="../index.html"><img src="../assets/TV.png" /></a>
      <ul class="items">
        <li><a href="../index.html">Home</a></li>
        <li><a href="./about.html" class="active">About me</a></li>
        <li><a href="./contacts.html">Contact us</a></li>
      </ul>
    </nav>
    <section class="main">
      <div class="content">
        <h1>More About Me</h1>
        <p>
          I am a solution-driven person who seeks environments that challenge me
          to help widen my experience and grow on both personal and professional
          levels. My key strengths are my abilities to solve problems and
          perform very well under pressure, including carrying out instructions.
          I enjoy working within environments that allow collaborative efforts –
          you get to learn a lot from people with different experience and skill
          sets.
        </p>
        <br />
        <p>
          On the technical side, I have practical web development exposure as I
          have worked with a couple of web technologies such as the MERN stack,
          TypeScript, Firebase and more. Most importantly, a desire to always
          want to learn more is one of my attributes.
        </p>
        <br />
        <a href="./contacts.html">Reach out</a>
      </div>
      <img src="../assets/WhatsApp Image 2023-02-05 at 12.24.33.jpeg" alt="" />
    </section>

    <!-- Projects -->
    <section id="projects">
      <h2>Projects</h2>
      <div class="project">
        <img src="../assets/vl.png" alt="" />
        <div class="project-content">
          <h3><span>1.</span> Vote Or Lose it</h3>
          <p class="desc">
            An e-commerce like web application where users buy items by simply
            voting... yep, voting. Now only support OTT for reaching your voting
            balance! At the end of a 2-week period, the user with most votes
            gets the item. *still in dev mode*
          </p>
          <div class="stack">
            <p>React</p>
            <p>Express</p>
            <p>Node</p>
            <p>MongoDB</p>
          </div>
          <a href="https://voteorloseit.com" target="_blank"
            ><i class="fa-solid fa-globe"></i>Live</a
          >
        </div>
      </div>
      <div class="project reverse">
        <img src="../assets/tadjobs.png" alt="" />
        <div class="project-content">
          <h3><span>2.</span> TadJobs</h3>
          <p class="desc">
            A job board application for all the latest tech jobs in South
            Africa. The app allows recruitment agencies to be able to manage
            multiple clients/companies with a single account
          </p>
          <div class="stack">
            <p>React/NextJS</p>
            <p>Firebase</p>
            <p>TanStack</p>
          </div>
          <a
            href="https://github.com/MonamaTV/tadjobs-with-next-firebase"
            target="_blank"
            ><i class="fa-brands fa-github"></i>GitHub repo</a
          >
          <a href="https://tadjobs.vercel.app" target="_blank"
            ><i class="fa-solid fa-globe"></i>Live</a
          >
        </div>
      </div>
      <div class="project reverse">
        <img src="../assets/movies.png" alt="" />
        <div class="project-content">
          <h3><span>3.</span> TadMovies</h3>
          <p class="desc">
            As the name suggests, the app displays the latest movies & series
            that are currently trending...
          </p>
          <div class="stack">
            <p>React/NextJS</p>
            <p>IMDb API.</p>
          </div>
          <a href="https://github.com/MonamaTV/movies-app" target="_blank"
            ><i class="fa-brands fa-github"></i>GitHub repo</a
          >
          <a href="https://tadmovies.netlify.app/" target="_blank"
            ><i class="fa-solid fa-globe"></i>Live</a
          >
        </div>
      </div>
      <div class="project reverse">
        <img src="../assets/tadify.png" alt="" />
        <div class="project-content">
          <h3><span>4.</span> Tadify</h3>
          <p class="desc">
            The app, after being granted access, uses the Spotify Web API to
            show you your favorite artists, songs and your recently played music
            <br />
            <small
              >In dev mode, can only test once your Spotify email gets added to
              the allow-list, as per Spotify Web API policies.</small
            >
          </p>
          <div class="stack">
            <p>React/NextJS</p>
            <p>Spotify Web API</p>
          </div>
          <a href="https://github.com/MonamaTV/tadify" target="_blank"
            ><i class="fa-brands fa-github"></i>GitHub repo</a
          >
          <a href="http://tadify.vercel.app" target="_blank"
            ><i class="fa-solid fa-globe"></i>Live</a
          >
        </div>
      </div>
      <a href="https://github.com/MonamaTV/" target="_blank" class="more"
        ><i class="fa-brands fa-github"></i>More on GitHub</a
      >
    </section>

    <footer>
      <div class="contacts">
        <h3>Reach me</h3>
        <ul>
          <li>
            <a href="https://twitter.com/Monama_Vee" target="_blank"
              ><i class="fa-brands fa-twitter"></i>Twitter</a
            >
          </li>
          <li>
            <a href="https://www.youtube.com/@tadnology" target="_blank"
              ><i class="fa-brands fa-youtube"></i>YouTube</a
            >
          </li>
          <li>
            <a href="https://github.com/MonamaTV" target="_blank"
              ><i class="fa-brands fa-github"></i>GitHub</a
            >
          </li>
          <li>
            <a href="tel:0664013806" target="_blank"
              ><i class="fa-sharp fa-solid fa-phone"></i>Call now</a
            >
          </li>
        </ul>
      </div>
      <div class="links">
        <h3>Quick links</h3>
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="./about.html">About</a></li>
          <li><a href="./contacts.html">Contact</a></li>
        </ul>
      </div>
      <div class="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d10614.339060566224!2d29.384102990618178!3d-25.17043857980218!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x1ec0351ec4f9716d%3A0xcf8c2b7ac2fd4aca!2s25-35%20Kruger%20St%2C%20Groblersdal%2C%200470!3m2!1d-25.1712974!2d29.3909225!5e0!3m2!1sen!2sza!4v1675596806857!5m2!1sen!2sza"
          width="400"
          height="300"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </footer>
  </body>
</html>
