@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@200;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
}

#logo a {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  text-decoration: none;
}

#logo span {
  color: coral;
  font-style: normal;
  padding: 1px;
  border: 2px solid coral;
}
.navigation {
  background-color: rgb(35, 167, 190);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  border-radius: 10px;
  padding: 10px 50px;
  margin: 10px auto;
}

.items {
  display: flex;
  list-style: none;
}

.items a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  font-size: 13px;
  display: inline-block;
}

a.active {
  padding: 10px;
  background: #fff;
  color: rgb(35, 167, 190);
  border-radius: 10px;
}

#landing {
  width: 90%;
  margin: 10px auto;
  height: 70vh;
  background-image: url("../assets/back.jpeg");
  background-position: top;
  background-repeat: no-repeat;

  border-radius: 10px;
}

.about {
  z-index: 1;
  background-color: #fff;
  width: 90%;
  margin: 10px auto;
  height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(35, 167, 190);
  border-radius: 10px;
  color: #fff;
  padding: 30px;
}

.content {
  width: 90%;
  padding-right: 40px;
}
.about h1 {
  font-size: 50px;
  font-weight: 600;
}
.about .content p {
  font-size: 13px;
}
.about img {
  border-radius: 50%;
  height: 250px;
  width: 300px;
  object-fit: cover;
  object-position: top;
}

footer {
  background-color: #fff;
  width: 90%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  padding-top: 40px;
}

.contacts h3,
.links h3 {
  font-size: 17px;
  font-weight: normal;
}
.contacts,
.links {
  margin: 20px 0;
}
.contacts ul,
.links ul {
  list-style: none;
}
.contacts ul li,
.links ul li {
  font-size: 13px;
  padding-left: 5px;
  margin: 3px 0;
  text-decoration: none;
}
.contacts ul li a,
.links ul li a {
  text-decoration: none;
  color: #5d5656;
  padding: 2px;
}
.contacts ul li i,
.links ul li i {
  margin: 2px 4px;
}

/* The about me page */
.main,
.reach {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 10px auto;
  /* align-items: center; */
  padding: 10px;
}

.main .content {
  width: 100%;
  background: rgb(35, 167, 190);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
}
.main .content h1 {
  color: #fff;
}
.main .content p {
  color: #fff;
  font-size: 14px;
}

.main img {
  width: 300px;
  height: 400px;
}
.main a {
  background: #fff;
  padding: 7px 10px;
  border-radius: 5px;
  color: rgb(35, 167, 190);
  font-size: 12px;
  width: 100px;
  text-align: center;
  text-decoration: none;
}

/* Contacts page*/

.reach .content {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.reach .content p {
  font-size: 13px;
}
.reach .content h3 {
  color: rgb(35, 167, 190);
}

.reach form {
  width: 50%;
}

.input-group {
  /* padding: 10px; */
  margin: 5px;
}
.input-group label {
  display: block;
  font-size: 15px;
}
.input-group input,
.input-group textarea,
.input-group button {
  width: 100%;
  border: 1px solid #dad2d2;
  outline: none;
  font-size: 14px;
  border-radius: 5px;
  padding: 6px 10px;
  resize: none;
}
.input-group button {
  color: #fff;
  background: rgb(35, 167, 190);
  border-color: rgb(35, 167, 190);
}

/* Media queries */
@media screen and (max-width: 576px) {
  .navigation {
    padding-inline: 10px;
    align-items: center;
  }
  #landing {
    background-position: unset;
  }
  .about h1 {
    font-size: 30px;
  }
  .about,
  footer {
    flex-direction: column;
  }
  .about .content {
    padding: 0;
  }
  .about img {
    height: 300px;
    margin-top: 40px;
  }
  .map * {
    width: 100%;
  }

  .reach {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .reach .content {
    padding: 7px;
  }
  .reach .content,
  .reach form {
    width: 100%;
  }
  .main {
    display: flex;
    justify-content: space-between;
    width: 90%;
    flex-direction: column-reverse;
    margin: 10px auto;
    /* align-items: center; */
    padding: 0px;
    border-radius: 0;
  }
  .main .content {
    border-radius: 0;
    padding-block: 50px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .main img {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 300px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
}

@media (min-width: 1400px) {
  body {
    width: 1400px;
    margin: 0 auto;
  }
}
